tiss/xsd/tissSolicitacaoStatusAutorizacaoV2_01_03.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="tissSolicitacaoStatusAutorizacao"
    targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoStatusAutorizacao/v20103"
    xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoStatusAutorizacao/v20103"
    xmlns:ans="http://www.ans.gov.br/padroes/tiss/schemas"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >

  <!-- Type definitions -->
  <types>
    <schema targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoStatusAutorizacao/v20103"
            xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoStatusAutorizacao/v20103"
            xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns="http://www.w3.org/2001/XMLSchema"
    >
        <import namespace="http://www.ans.gov.br/padroes/tiss/schemas" schemaLocation="tissV2_01_03.xsd"/>
        <complexType name="ws_solicitacaoStatusAutorizacao">
            <sequence>
                <element name="cabecalho" type="ans:cabecalhoTransacao"/>
                <element name="solicitacaoStatusAutorizacao" type="ans:ct_solicitaStatusAutorizacao"/>
                <element name="hash" type="string"/>
            </sequence>
        </complexType>
        <complexType name="ws_situacaoAutorizacao">
            <sequence>
                <element name="cabecalho" type="ans:cabecalhoTransacao"/>
                <element name="situacaoAutorizacao" type="ans:ct_situacaoAutorizacao"/>
                <element name="hash" type="string"/>
            </sequence>
        </complexType>
        <element name="solicitacaoStatusAutorizacao" type="tns:ws_solicitacaoStatusAutorizacao"/>
        <element name="situacaoAutorizacao" type="tns:ws_situacaoAutorizacao"/>
        <element name="DestinatarioInvalido" type="xsd:string"/>
        <element name="RemetenteInvalido" type="xsd:string"/>
        <element name="VersaoInvalida" type="xsd:string"/>
        <element name="HashInvalido" type="xsd:string"/>
        <element name="SolicitacaoInexistente" type="xsd:string"/>
    </schema>
  </types>

  <!-- Message definitions -->
  <message name ="tissSolicitacaoStatusAutorizacao_Request">
    <part name="solicitacaoStatusAutorizacao" element="tns:solicitacaoStatusAutorizacao"/>
  </message>

  <message name ="tissSolicitacaoStatusAutorizacao_Response">
    <part name="situacaoAutorizacao" element="tns:situacaoAutorizacao"/>
  </message>

  <message name="SolicitacaoInexistente">
    <part name="SolicitacaoInexistente" element="tns:SolicitacaoInexistente"/>
  </message>

  <message name="DestinatarioInvalido">
    <part name="DestinatarioInvalido" element="tns:DestinatarioInvalido"/>
  </message>

  <message name="RemetenteInvalido">
    <part name="RemetenteInvalido" element="tns:RemetenteInvalido"/>
  </message>

  <message name="VersaoInvalida">
    <part name="VersaoInvalida" element="tns:VersaoInvalida"/>
  </message>

  <message name="HashInvalido">
    <part name="HashInvalido" element="tns:HashInvalido"/>
  </message>

  <!-- Port type definitions -->
  <portType name="tissSolicitacaoStatusAutorizacao_PortType">
    <operation name="tissSolicitacaoStatusAutorizacao_Operation">
      <input message="tns:tissSolicitacaoStatusAutorizacao_Request"/>
      <output message="tns:tissSolicitacaoStatusAutorizacao_Response"/>
      <fault name="SolicitacaoInexistente" message="tns:SolicitacaoInexistente"/>
      <fault name="DestinatarioInvalido" message="tns:DestinatarioInvalido"/>
      <fault name="RemetenteInvalido" message="tns:RemetenteInvalido"/>
      <fault name="VersaoInvalida" message="tns:VersaoInvalida"/>
      <fault name="HashInvalido" message="tns:HashInvalido"/>
    </operation>
  </portType>

  <!-- Binding definitions -->
  <binding name="tissSolicitacaoStatusAutorizacao_Binding" type="tns:tissSolicitacaoStatusAutorizacao_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="tissSolicitacaoStatusAutorizacao_Operation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SolicitacaoInexistente">
        <soap:fault name="SolicitacaoInexistente" use="literal"/>
      </fault>
      <fault name="DestinatarioInvalido">
        <soap:fault name="DestinatarioInvalido" use="literal"/>
      </fault>
      <fault name="RemetenteInvalido">
        <soap:fault name="RemetenteInvalido" use="literal"/>
      </fault>
      <fault name="VersaoInvalida">
        <soap:fault name="VersaoInvalida" use="literal"/>
      </fault>
      <fault name="HashInvalido">
        <soap:fault name="HashInvalido" use="literal"/>
      </fault>
    </operation>
  </binding>

  <!-- Service and Port (network address) definitions -->
  <service name="tissSolicitacaoStatusAutorizacao">
    <port name="tissSolicitacaoStatusAutorizacao_Port" binding="tns:tissSolicitacaoStatusAutorizacao_Binding">
      <soap:address location=""/>
    </port>
  </service>

</definitions>
