tiss/xsd/tissCancelaGuiaV2_01_03.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="tissCancelaGuia"
    targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissCancelaGuia/v20103"
    xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissCancelaGuia/v20103"
    xmlns:ans="http://www.ans.gov.br/padroes/tiss/schemas"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >

  <!-- Type definitions -->
  <types>
    <schema targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissCancelaGuia/v20103"
            xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissCancelaGuia/v20103"
            xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns="http://www.w3.org/2001/XMLSchema"
    >
        <import namespace="http://www.ans.gov.br/padroes/tiss/schemas" schemaLocation="tissV2_01_03.xsd"/>
        <complexType name="ws_cancelaGuia">
            <sequence>
                <element name="cabecalho" type="ans:cabecalhoTransacao"/>
                <element name="cancelaGuia" type="ans:ct_cancelaGuia"/>
                <element name="hash" type="string"/>
            </sequence>
        </complexType>
        <complexType name="ws_reciboCancelaGuia">
            <sequence>
                <element name="cabecalho" type="ans:cabecalhoTransacao"/>
                <element name="reciboCancelaGuia" type="ans:ct_reciboCancelaGuia"/>
                <element name="hash" type="string"/>
            </sequence>
        </complexType>
        <element name="cancelaGuia" type="tns:ws_cancelaGuia"/>
        <element name="reciboCancelaGuia" type="tns:ws_reciboCancelaGuia"/>
        <element name="DestinatarioInvalido" type="xsd:string"/>
        <element name="RemetenteInvalido" type="xsd:string"/>
        <element name="VersaoInvalida" type="xsd:string"/>
        <element name="HashInvalido" type="xsd:string"/>
    </schema>
  </types>

  <!-- Message definitions -->
  <message name ="tissCancelaGuia_Request">
    <part name="cancelaGuia" element="tns:cancelaGuia"/>
  </message>

  <message name ="tissCancelaGuia_Response">
    <part name="reciboCancelaGuia" element="tns:reciboCancelaGuia"/>
  </message>

  <message name="DestinatarioInvalido">
    <part name="DestinatarioInvalido" element="tns:DestinatarioInvalido"/>
  </message>

  <message name="RemetenteInvalido">
    <part name="RemetenteInvalido" element="tns:RemetenteInvalido"/>
  </message>

  <message name="VersaoInvalida">
    <part name="VersaoInvalida" element="tns:VersaoInvalida"/>
  </message>

  <message name="HashInvalido">
    <part name="HashInvalido" element="tns:HashInvalido"/>
  </message>

  <!-- Port type definitions -->
  <portType name="tissCancelaGuia_PortType">
    <operation name="tissCancelaGuia_Operation">
      <input message="tns:tissCancelaGuia_Request"/>
      <output message="tns:tissCancelaGuia_Response"/>
      <fault name="DestinatarioInvalido" message="tns:DestinatarioInvalido"/>
      <fault name="RemetenteInvalido" message="tns:RemetenteInvalido"/>
      <fault name="VersaoInvalida" message="tns:VersaoInvalida"/>
      <fault name="HashInvalido" message="tns:HashInvalido"/>
    </operation>
  </portType>

  <!-- Binding definitions -->
  <binding name="tissCancelaGuia_Binding" type="tns:tissCancelaGuia_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="tissCancelaGuia_Operation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DestinatarioInvalido">
        <soap:fault name="DestinatarioInvalido" use="literal"/>
      </fault>
      <fault name="RemetenteInvalido">
        <soap:fault name="RemetenteInvalido" use="literal"/>
      </fault>
      <fault name="VersaoInvalida">
        <soap:fault name="VersaoInvalida" use="literal"/>
      </fault>
      <fault name="HashInvalido">
        <soap:fault name="HashInvalido" use="literal"/>
      </fault>
    </operation>
  </binding>

  <!-- Service and Port (network address) definitions -->
  <service name="tissCancelaGuia">
    <port name="tissCancelaGuia_Port" binding="tns:tissCancelaGuia_Binding">
      <soap:address location=""/>
    </port>
  </service>

</definitions>
