xsd/tissVerificaElegibilidadeV2_01_03.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="tissVerificaElegibilidade"
    targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissVerificaElegibilidade"
    xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissVerificaElegibilidade"
    xmlns:ans="http://www.ans.gov.br/padroes/tiss/schemas"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >

  <!-- Type definitions -->
  <types>
    <schema targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissVerificaElegibilidade"
            xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissVerificaElegibilidade"
            xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns="http://www.w3.org/2001/XMLSchema"
    >
        <import namespace="http://www.ans.gov.br/padroes/tiss/schemas" schemaLocation="tissV2_01_03.xsd"/>
        <complexType name="ws_verificaElegibilidade">
            <sequence>
                <element name="cabecalho" type="ans:cabecalhoTransacao"/>
                <element name="verificaElegibilidade" type="ans:ct_solicitaElegibilidade"/>
                <element name="hash" type="string"/>
            </sequence>
        </complexType>
        <complexType name="ws_respostaElegibilidade">
            <sequence>
                <element name="cabecalho" type="ans:cabecalhoTransacao"/>
                <element name="respostaElegibilidade" type="ans:ct_retornoElegibilidade"/>
                <element name="hash" type="string"/>
            </sequence>
        </complexType>
        <element name="solicitaElegibilidade" type="tns:ws_verificaElegibilidade"/>
        <element name="retornoElegibilidade" type="tns:ws_respostaElegibilidade"/>
        <element name="DestinatarioInvalido" type="xsd:string"/>
        <element name="RemetenteInvalido" type="xsd:string"/>
        <element name="VersaoInvalida" type="xsd:string"/>
        <element name="HashInvalido" type="xsd:string"/>
    </schema>
  </types>

  <!-- Message definitions -->
  <message name ="tissVerificaElegibilidade_Request">
    <part name="pedidoElegibilidade" element="tns:solicitaElegibilidade"/>
  </message>

  <message name ="tissVerificaElegibilidade_Response">
    <part name="pedidoElegibilidade" element="tns:retornoElegibilidade"/>
  </message>

  <message name="DestinatarioInvalido">
    <part name="DestinatarioInvalido" element="tns:DestinatarioInvalido"/>
  </message>

  <message name="RemetenteInvalido">
    <part name="RemetenteInvalido" element="tns:RemetenteInvalido"/>
  </message>

  <message name="VersaoInvalida">
    <part name="VersaoInvalida" element="tns:VersaoInvalida"/>
  </message>

  <message name="HashInvalido">
    <part name="HashInvalido" element="tns:HashInvalido"/>
  </message>

  <!-- Port type definitions -->
  <portType name="tissVerificaElegibilidade_PortType">
    <operation name="tissVerificaElegibilidade_Operation">
      <input message="tns:tissVerificaElegibilidade_Request"/>
      <output message="tns:tissVerificaElegibilidade_Response"/>
      <fault name="DestinatarioInvalido" message="tns:DestinatarioInvalido"/>
      <fault name="RemetenteInvalido" message="tns:RemetenteInvalido"/>
      <fault name="VersaoInvalida" message="tns:VersaoInvalida"/>
      <fault name="HashInvalido" message="tns:HashInvalido"/>
    </operation>
  </portType>

  <!-- Binding definitions -->
  <binding name="tissVerificaElegibilidade_Binding" type="tns:tissVerificaElegibilidade_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="tissVerificaElegibilidade_Operation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DestinatarioInvalido">
        <soap:fault name="DestinatarioInvalido" use="literal"/>
      </fault>
      <fault name="RemetenteInvalido">
        <soap:fault name="RemetenteInvalido" use="literal"/>
      </fault>
      <fault name="VersaoInvalida">
        <soap:fault name="VersaoInvalida" use="literal"/>
      </fault>
      <fault name="HashInvalido">
        <soap:fault name="HashInvalido" use="literal"/>
      </fault>
    </operation>
  </binding>

  <!-- Service and Port (network address) definitions -->
  <service name="tissVerificaElegibilidade">
    <port name="tissVerificaElegibilidade_Port" binding="tns:tissVerificaElegibilidade_Binding">
      <soap:address location=""/>
    </port>
  </service>

</definitions>
