xsd/tissSolicitacaoProcedimentoV2_02_01.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions name="tissSolicitacaoProcedimento"
    targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoProcedimento/v20201"
    xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoProcedimento/v20201"
    xmlns:ans="http://www.ans.gov.br/padroes/tiss/schemas"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >

  <!-- Type definitions -->
  <types>
    <schema targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoProcedimento/v20201"
            xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoProcedimento/v20201"
            xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns="http://www.w3.org/2001/XMLSchema"
    >
        <import namespace="http://www.ans.gov.br/padroes/tiss/schemas" schemaLocation="tissV2_02_01.xsd"/>
        <complexType name="ws_solicitacaoProcedimento">
            <sequence>
                <element name="cabecalho" type="ans:cabecalhoTransacao"/>
                <element name="solicitacaoProcedimento">
                    <complexType>
                        <choice>
                            <element name="guiaSolicInternacao" type="ans:ct_guiaSolicInternacao" minOccurs="0"/>
                            <element name="guiaSolicitacaoSADT" type="ans:ct_guiaSolicitacaoSP_SADT" minOccurs="0"/>
                            <element name="guiaSolicitacaoOdontologia" type="ans:ct_guiaSolicitacaoOdonto" minOccurs="0"/>
                            <element name="guiaSolicitacaoProrrogacao" type="ans:ct_guiaSolicitacaoProrrogacao" minOccurs="0"/>
                        </choice>
                    </complexType>
                </element>
                <element name="hash" type="string"/>
            </sequence>
        </complexType>
        <complexType name="ws_autorizacaoProcedimento">
            <sequence>
                <element name="cabecalho" type="ans:cabecalhoTransacao"/>
                <element name="autorizacaoServico" minOccurs="1" maxOccurs="unbounded">
                    <complexType>
                        <complexContent>
                            <extension base="ans:ct_autorizacaoProcedimento">
                                <sequence>
                                    <element name="totalOdonto" minOccurs="0">
                                        <complexType>
                                            <sequence>
                                                <element name="totalvalor" type="ans:st_quantidade" minOccurs="0"/>
                                                <element name="totalFranquiaCoparticipacao" type="ans:st_quantidade" minOccurs="0"/>
                                                <element name="totalquantidadeUS" type="ans:st_quantidade" minOccurs="0"/>
                                            </sequence>
                                        </complexType>
                                    </element>
                                    <element name="ct_diariaProrrogacaoAutorizada" minOccurs="0">
                                        <complexType>
                                            <complexContent>
                                                <extension base="ans:ct_diariaProrrogacao">
                                                    <sequence>
                                                        <element name="tipoAcomodacaoAutorizada" type="ans:st_tipoAcomodacao" minOccurs="0"/>
                                                        <element name="quantidadeAutorizada" type="ans:st_quantidade" minOccurs="0"/>
                                                        <element name="motivoGlosa" type="ans:ct_motivoGlosa" minOccurs="0"/>
                                                    </sequence>
                                                </extension>
                                            </complexContent>
                                        </complexType>
                                    </element>
                                </sequence>
                            </extension>
                        </complexContent>
                    </complexType>
                </element>
                <element name="hash" type="string"/>
            </sequence>
        </complexType>
        <element name="solicitacaoProcedimento" type="tns:ws_solicitacaoProcedimento"/>
        <element name="autorizacaoProcedimento" type="tns:ws_autorizacaoProcedimento"/>
        <element name="DestinatarioInvalido" type="xsd:string"/>
        <element name="RemetenteInvalido" type="xsd:string"/>
        <element name="VersaoInvalida" type="xsd:string"/>
        <element name="HashInvalido" type="xsd:string"/>
    </schema>
  </types>

  <!-- Message definitions -->
  <message name ="tissSolicitacaoProcedimento_Request">
    <part name="solicitacaoProcedimento" element="tns:solicitacaoProcedimento"/>
  </message>

  <message name ="tissSolicitacaoProcedimento_Response">
    <part name="autorizacaoProcedimento" element="tns:autorizacaoProcedimento"/>
  </message>

  <message name="DestinatarioInvalido">
    <part name="DestinatarioInvalido" element="tns:DestinatarioInvalido"/>
  </message>

  <message name="RemetenteInvalido">
    <part name="RemetenteInvalido" element="tns:RemetenteInvalido"/>
  </message>

  <message name="VersaoInvalida">
    <part name="VersaoInvalida" element="tns:VersaoInvalida"/>
  </message>

  <message name="HashInvalido">
    <part name="HashInvalido" element="tns:HashInvalido"/>
  </message>

  <!-- Port type definitions -->
  <portType name="tissSolicitacaoProcedimento_PortType">
    <operation name="tissSolicitacaoProcedimento_Operation">
      <input message="tns:tissSolicitacaoProcedimento_Request"/>
      <output message="tns:tissSolicitacaoProcedimento_Response"/>
      <fault name="DestinatarioInvalido" message="tns:DestinatarioInvalido"/>
      <fault name="RemetenteInvalido" message="tns:RemetenteInvalido"/>
      <fault name="VersaoInvalida" message="tns:VersaoInvalida"/>
      <fault name="HashInvalido" message="tns:HashInvalido"/>
    </operation>
  </portType>

  <!-- Binding definitions -->
  <binding name="tissSolicitacaoProcedimento_Binding" type="tns:tissSolicitacaoProcedimento_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="tissSolicitacaoProcedimento_Operation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DestinatarioInvalido">
        <soap:fault name="DestinatarioInvalido" use="literal"/>
      </fault>
      <fault name="RemetenteInvalido">
        <soap:fault name="RemetenteInvalido" use="literal"/>
      </fault>
      <fault name="VersaoInvalida">
        <soap:fault name="VersaoInvalida" use="literal"/>
      </fault>
      <fault name="HashInvalido">
        <soap:fault name="HashInvalido" use="literal"/>
      </fault>
    </operation>
  </binding>

  <!-- Service and Port (network address) definitions -->
  <service name="tissSolicitacaoProcedimento">
    <port name="tissSolicitacaoProcedimento_Port" binding="tns:tissSolicitacaoProcedimento_Binding">
      <soap:address location=""/>
    </port>
  </service>

</definitions>
